{block content}
<div class="container">
{control setPointsForm}
</div>

<script>
    $( document ).ready(function() {
        $('[name="pocetTymu"]' ).change(function() {
            console.log($(this).val());

        });
    });
</script>